@model ITPRO_CRM.Models.LichSuTuVan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LichSuTuVan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KetQua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KetQua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTuVan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTuVan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HocVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HocVien.HoTen)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
